.search_container form > div {
    background: #F1F5F9;
    padding: 5px 10px;
    border-radius: 15px;
    width: 280px;
}

.search_container button {
    border-width: 0px;
    margin-right: 10px;
    background-color: transparent;
}

.search_container input {
    border-width: 0px;
    background-color: transparent;
}

.search_container input:focus {
    outline: none;
}

.search_container input::placeholder {
    color: #94A3B8
}

.fa-magnifying-glass {
    color: #94A3B8
}